## Data Cleaning
This notebook will read the data from the csv file from the web_scrapping notebook. All the columns that have a null value will be remove. It will then clean the data to have the needed data types and columns. Followed by removing any rows with faulty data.

***

### Importing Libaries:
Need to import the libaries to be used in this notebook

In [2]:
# Necessary imports
import pandas as pd
import numpy as np
from datetime import date, datetime

*** 

### Getting and Inspecting Data:
- import the csv needed
- check the shape and data types to know what we are working with

In [8]:
data = pd.DataFrame()

In [10]:
data = pd.read_csv("movies_and_books.csv")

In [16]:
data.dtypes

Movie_Title               object
Movie_Rating_Value       float64
Movie_Rating_Count       float64
Movie_Released_Year      float64
Movie_Run_Time            object
Book_Title                object
Book_Rating_Value        float64
Book_Rating_Count        float64
Book_Publication_Year    float64
Book_Length               object
dtype: object

*** 
### Cleaning the Data (Part 1):
- Drop any rows that have a null value

In [17]:
data = data.dropna()

*** 
### Cleaning the Data (Part 2):
- Change book publication column to int type for comparison 
- Get new column of the year differnce between movie release and book publication
- Change movie duration column to minutes only for consistency
- Change booklength to int 
- Drop columns of movie titles and book titles to have data frame of values only

In [19]:
df = data.astype({'Book_Publication_Year': 'float64'})

In [20]:
df['Released_Year_Diff'] = df['Movie_Released_Year'] - df['Book_Publication_Year']

In [21]:
df['Movie_Run_Time'] = df['Movie_Run_Time'].map(lambda x: x.replace('h',':').replace('min','').replace(' ','').strip())

In [22]:
df[['h','m']] = df['Movie_Run_Time'].astype(str).str.split(':', expand=True)

In [23]:
df = df.astype({'h': 'float64'})

In [24]:
df['h'] = df['h'].multiply(60)

In [25]:
indexNames = df[(df['m'] == '')].index
df.drop(indexNames , inplace=True)

In [26]:
df = df.astype({'m': 'float64'})

In [27]:
df['Movie_Run_Time'] = df['h'] + df['m']

In [28]:
df['Book_Length'] = df['Book_Length'].map(lambda x: x.replace('[','').replace(']','').strip())

In [29]:
indexNames = df[(df['Book_Length'] == '')].index
df.drop(indexNames , inplace=True)

In [30]:
df = df.astype({'Book_Length': 'float64'})

In [31]:
df = df.drop(columns=['Movie_Title', 'Book_Title','h','m'])

In [32]:
df

,Movie_Rating_Value,Movie_Rating_Count,Movie_Released_Year,Movie_Run_Time,Book_Rating_Value,Book_Rating_Count,Book_Publication_Year,Book_Length,Released_Year_Diff
0,7.6,88.0,2011.0,152.0,8.00,2.0,2004.0,180.0,7.0
1,6.3,2061.0,2017.0,104.0,8.10,599.0,2002.0,352.0,15.0
2,7.3,278737.0,1999.0,97.0,7.60,147799.0,1593.0,291.0,406.0
4,6.0,2678.0,1969.0,110.0,6.00,4.0,1981.0,280.0,-12.0
9,6.6,563.0,1966.0,85.0,7.08,849.0,1960.0,108.0,6.0
...,...,...,...,...,...,...,...,...,...
1085,6.7,21368.0,2016.0,112.0,7.52,55923.0,1998.0,156.0,18.0
1086,4.7,84183.0,1960.0,97.0,8.22,17765.0,1936.0,264.0,24.0
1090,6.3,2024.0,1996.0,103.0,6.00,2.0,1988.0,278.0,8.0
1091,6.3,58844.0,2020.0,96.0,7.62,345746.0,1886.0,232.0,134.0
1092,7.1,57006.0,1976.0,130.0,7.62,345746.0,1886.0,44.0,90.0

In [33]:
df = df.dropna()
df

,Movie_Rating_Value,Movie_Rating_Count,Movie_Released_Year,Movie_Run_Time,Book_Rating_Value,Book_Rating_Count,Book_Publication_Year,Book_Length,Released_Year_Diff
0,7.6,88.0,2011.0,152.0,8.00,2.0,2004.0,180.0,7.0
1,6.3,2061.0,2017.0,104.0,8.10,599.0,2002.0,352.0,15.0
2,7.3,278737.0,1999.0,97.0,7.60,147799.0,1593.0,291.0,406.0
4,6.0,2678.0,1969.0,110.0,6.00,4.0,1981.0,280.0,-12.0
9,6.6,563.0,1966.0,85.0,7.08,849.0,1960.0,108.0,6.0
...,...,...,...,...,...,...,...,...,...
1085,6.7,21368.0,2016.0,112.0,7.52,55923.0,1998.0,156.0,18.0
1086,4.7,84183.0,1960.0,97.0,8.22,17765.0,1936.0,264.0,24.0
1090,6.3,2024.0,1996.0,103.0,6.00,2.0,1988.0,278.0,8.0
1091,6.3,58844.0,2020.0,96.0,7.62,345746.0,1886.0,232.0,134.0
1092,7.1,57006.0,1976.0,130.0,7.62,345746.0,1886.0,44.0,90.0

*** 
### Cleaning the Data (Part 3):
- Drop rows where year difference is less than 0
- Drop rows where book length is less than 200 pages? (some gave study guides for the novel and not the novel its self)
- Drop rows where movie run time is less than 60 mins?
- Drop rows with 0 ratings
    - since we want to know that rating value, it is important to have some number of rating 
- save to a csv for future use

In [34]:
indexNames = df[(df ['Released_Year_Diff'] <= 0)].index
df.drop(indexNames , inplace=True)

/Users/sammy/miniconda3/envs/metis/lib/python3.7/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [35]:
indexNames = df[(df ['Book_Length'] <= 50)].index
df.drop(indexNames , inplace=True)

In [36]:
indexNames = df[(df ['Movie_Run_Time'] <= 0)].index
df.drop(indexNames , inplace=True)

In [37]:
df

,Movie_Rating_Value,Movie_Rating_Count,Movie_Released_Year,Movie_Run_Time,Book_Rating_Value,Book_Rating_Count,Book_Publication_Year,Book_Length,Released_Year_Diff
0,7.6,88.0,2011.0,152.0,8.00,2.0,2004.0,180.0,7.0
1,6.3,2061.0,2017.0,104.0,8.10,599.0,2002.0,352.0,15.0
2,7.3,278737.0,1999.0,97.0,7.60,147799.0,1593.0,291.0,406.0
9,6.6,563.0,1966.0,85.0,7.08,849.0,1960.0,108.0,6.0
10,6.3,916.0,1974.0,94.0,7.62,227.0,1972.0,348.0,2.0
...,...,...,...,...,...,...,...,...,...
1073,7.9,565950.0,1993.0,113.0,7.72,118545.0,1992.0,201.0,1.0
1085,6.7,21368.0,2016.0,112.0,7.52,55923.0,1998.0,156.0,18.0
1086,4.7,84183.0,1960.0,97.0,8.22,17765.0,1936.0,264.0,24.0
1090,6.3,2024.0,1996.0,103.0,6.00,2.0,1988.0,278.0,8.0
1091,6.3,58844.0,2020.0,96.0,7.62,345746.0,1886.0,232.0,134.0

In [38]:
df.to_csv('cleaned_data.csv', index=False)